/*
Theme Name: Genesis Child
Theme URI: https://demo.studiopress.com/
Description: This is the sample theme created for the Genesis Framework.
Author: StudioPress
Author URI: https://www.studiopress.com//*
Theme Name: Genesis Child
Theme URI: https://demo.studiopress.com/
Description: This is the sample theme created for the Genesis Framework.
Author: StudioPress
Author URI: https://www.studiopress.com/

Version: 2.7.0

Tags: accessibility-ready, custom-colors, custom-logo, custom-menu, featured-images, footer-widgets, full-width-template, left-sidebar, one-column, right-sidebar, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, two-columns

Template: genesis

License: GPL-2.0-or-later
License URI: https://www.gnu.org/licenses/gpl-2.0.html

Text Domain: child
*/


/* Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Container
	- Site Inner
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Genesis Simple FAQ
- Skip Links
- Site Header
	- Title Area
- Site Navigation
	- Responsive Menu
	- Header Menu
	- Footer Menu
- Content Area
	- Entry Content
	- Entry Meta
	- Pagination
	- Entry Comments
- Sidebar
- Footer Widgets
- Site Footer
- Media Queries
	- Min-width: 960px
		- Site Header
		- Genesis Menu
		- Responsive Menu
		- Header Menu
		- Site Inner
		- Content
		- Sidebar
		- Author Box
		- After Entry
		- Entry Misc.
		- Footer Widgets
- Print Styles
*/

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on February 7, 2019 */


#ms-nox-widget-courseplan button{display:none;}
@font-face {
    font-family: 'cooper_hewittbold';
    src: url('./fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('./fonts/cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittbold_italic';
    src: url('./fonts/cooperhewitt-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/cooperhewitt-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittbook';
    src: url('./fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
         url('./fonts/cooperhewitt-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittbook_italic';
    src: url('./fonts/cooperhewitt-bookitalic-webfont.woff2') format('woff2'),
         url('./fonts/cooperhewitt-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittheavy';
    src: url('./fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
         url('./fonts/cooperhewitt-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittheavy_italic';
    src: url('./fonts/cooperhewitt-heavyitalic-webfont.woff2') format('woff2'),
         url('./fonts/cooperhewitt-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittlight';
    src: url('./fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('./fonts/cooperhewitt-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittlight_italic';
    src: url('./fonts/cooperhewitt-lightitalic-webfont.woff2') format('woff2'),
         url('./fonts/cooperhewitt-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittmedium';
    src: url('./fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('./fonts/cooperhewitt-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittmedium_italic';
    src: url('./fonts/cooperhewitt-mediumitalic-webfont.woff2') format('woff2'),
         url('./fonts/cooperhewitt-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('./fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('./fonts/cooperhewitt-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittsemibold_italic';
    src: url('./fonts/cooperhewitt-semibolditalic-webfont.woff2') format('woff2'),
         url('./fonts/cooperhewitt-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





/*Primary Nav on left, Site Title or Logo in the middle and Secondary Nav on right
--------------------------------------------------------------------------------- */

@media only screen and (max-width: 1024px) and (min-width: 770px) {
	body:not(.themify_builder_active) .benefits  .hide-tablet {
		display: block !important;
	}
	.benefits .hide-desktop{
		display: none !important;
	}
}
.image-title span{
    font-size: 14px;
    padding-bottom: 10px;
	font-weight: 400;
}
	.boxed_text h2 span{

		font-size: 32px;
		line-height: 42px;
	}
	
	.boxed_text p{

		font-size: 16px;
	}
	

.fix{
    position: fixed;
    top: 0%;
    left: 0%;
    background: #fff;
    z-index: 999;
	box-shadow: 2px 0 2px #ccc;
}


a:focus,button:focus {outline: 0;}

.tp-caption h2 {
    font-size: 18px !important;
    line-height: 26px !important;
    font-weight: 500 !important;
	font-family: 'cooper_hewittsemibold';
}

.title-post h3{
	font-size: 46px;
    line-height: 50px;
	text-transform: uppercase;
	font-family: 'cooper_hewittbold';
}

.header-image .site-header .wrap {
	background: transparent;
}

.header-image .site-description, .header-image .site-title a {
	text-indent: 0;
}

.header-image .site-title a {
	min-height: 0;
}

.site-header .nav-primary {
	width: 40%;
	float: left;
	margin-right: 4%;
}

.site-header .site-title {
	float: left;
	width: 16%;
	margin-right: 4%;
	margin-top: 2.5rem;
}

.site-header .nav-secondary {
	width: 38%;
	float: right;
}

.nav-primary {
	background-color: transparent;
}

.nav-primary a:hover, .nav-primary .current-menu-item > a {
	color: #333;
}

.nav-secondary .wrap {
    float: right;
}

@media only screen and (max-width: 1024px) {

	.site-header .nav-primary {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.site-header .site-title {
		float: none;
		width: 100%;
		margin-top: 0;
		overflow: hidden;
		margin-right: 0;
	}

	.site-header .nav-secondary {
		float: none;
		width: 100%;
	}

	.site-header .wrap {
		padding: 0;
   		clear: both;

	}

	.header-image .site-header .wrap {
		background-position: center top;
	}

	.site-header {
		padding: 0;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 20px 16px;
		padding: 2rem 1.6rem;
	}

	.site-header .search-form {
		margin: 16px auto ;
		margin: 1.6rem auto;
	}

	.genesis-nav-menu li.right {
		display: none;
	}

	.nav-secondary .wrap {
		float: none;
	}

}
h1 {
    font-size: 52px !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    line-height: 54px !important;
    letter-spacing: -2px !important;
	color: #000 ;
	font-family: 'cooper_hewittsemibold' !important;
}

.boxed_text .row_inner{
	padding: 50px !important;
	width: 56%;
}
.boxed_text.right .row_inner{

	float: right;
}
.boxed_text.right .row_inner p{

	text-align: right;
}
.grey{
	background-color: #efefef;
	padding: 50px;
}
.grey_color{
	background-color: #efefef;
}
.themify_builder_row.right{
	background-position: left center !important;
}
.themify_builder_row.left{
	background-position: right center !important;
}
.right{
	text-align: right;
}
.right ul li span{
	text-align: left;
}
.left{
	text-align: left;
}
.center{
	text-align: center;
}
.overlay_image .image-content{

    position: absolute;
    top: 1%;
    left: 4%;

}
.overlay_image.module-image .image-title{
	text-transform: uppercase;
}
.color-red{
	color: #ec1c24;
	padding-top:30px;
}

.mobile{
		display: none !important;
}

.module_column .module-buttons.squared a {
    border-radius: 2px !important;

}

.rev-btn {
	border-radius: 2px;
	background-color: #ec1c24 !important;
	border: 1px solid #ec1c24 !important;
	color: #fff !important;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11) !important;
	font-family: 'cooper_hewittmedium' !important;
}

.rev-btn:hover {
	background-color: transparent !important;
	color: #ec1c24 !important;
}

/* Bloggroll
------------------------------------------------ */
.blogroll .full > div .module-buttons{
    position: absolute;
    bottom: 6%;
    left: 0;
    right: 0;
}
.blogroll .buttom_red, .blogroll-event .buttom_red, .blogroll-company .buttom_red, .blogroll-reisen .buttom_red {
    text-align: center;
}
.blogroll:hover h3 span, .blogroll-event:hover h3 span, .blogroll-company:hover h3 span, .blogroll-reisen:hover h3 span{
    text-align: left;
    position: inherit;
    line-height: 40px; 	
}
.blogroll h3 span, .blogroll-event h3 span, .blogroll-company h3 span, .blogroll-reisen h3 span, .blogroll-news h3 span{
	text-transform: uppercase;
	font-size: 22px;
}
.blogroll:hover h3, .blogroll-event:hover h3, .blogroll-company:hover h3, .blogroll-reisen:hover h3{

    margin-bottom: 34px;
 
}
.blogroll .full, .blogroll-event .full, .blogroll-company .full, .blogroll-reisen .full{
    z-index: 9999;
    position: relative;
	padding: 50px 25px;
	height: 100%;
}

.blogroll .caption, .blogroll-event .caption, .blogroll-company .caption, .blogroll-reisen .caption{
	display: none;
}

.blogroll:hover .caption, .blogroll-event:hover .caption, .blogroll-company:hover .caption, .blogroll-reisen:hover .caption{
	display: block;
}

.blogroll-event .full > div,.blogroll-reisen .full > div{
    position: absolute;
    bottom: 5%;
    left: 0;
    padding: 0 25px;
}

.blogroll-event:hover .full > div,.blogroll-reisen:hover .full > div{
    position: relative;
	transition: height 1s ease-in;
    height: 100%;
    width: 100%;
    bottom: 5%;
    padding: 0;
}

.blogroll-company .full > div .module-buttons{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
}
.blogroll-company .buttom_red .ui.builder_button:hover {
    color: #fff;
}

.blogroll-reisen:hover .full > div .module-buttons{
    position: absolute;
    bottom: -8%;
    left: 0;
    right: 0;
}

.blogroll-event,.blogroll-company,.blogroll-reisen{
	color: #fff;
	max-height: 650px;
    height: 650px;
	margin-bottom: 50px;
	background-size: cover !important;
	font-weight: 300;
	line-height: 1.3;
}
.blogroll-reisen .buttom_red .ui,.blogroll-event .buttom_red .ui,.blogroll-company .buttom_red .ui  {
    box-shadow: unset !important;
	background-color: transparent;
	border: 1px solid #fff;
}

.blogroll-reisen:hover .buttom_red .ui{
    position: relative;
    background-color: #fff;
    color: #ec1c24;
	margin-top: 25px !important;
}

 .blogroll-company:hover .buttom_red .ui {
    position: relative;
    color: #fff;
    background-color: #ec1c24;
    margin-top: 25px !important;
    border: 0;
}
 .blogroll-company .buttom_red .ui {
    position: relative;
    color: #fff;
    background-color: #ec1c24;
    margin-top: 25px !important;
    border: 0;
}
 .blogroll-company .full{
    color: #000;
} .blogroll-company:hover .full{
    color: #fff;
}
.blogroll-reisen h3,.blogroll-company h3,.blogroll-event h3{
    display: inline-block;
    width: 50%;
}
.blogroll-reisen .full > div > span,.blogroll-company .full > div > span,.blogroll-event .full > div > span{
    position: absolute;
    right: 40px;
    font-size: 18px;
    font-family: 'cooper_hewittsemibold';
	margin-top: 0px;
}

.blogroll-reisen:hover .full > div > span{
   	right: 15px;
	margin-top: 4px;
}

/* kurse
--------- */
.blogroll{
	color: #fff;
	max-height: 450px;
    height: 450px;
	margin-bottom: 50px;
}
.blogroll:hover .overlay{
    opacity:0.7;
}

.blogroll .overlay{
    width:456px;
    height:450px;
    position:absolute;
    background-color:#000;
    opacity:0.3;
}
.blogroll h3 span{
	 position: absolute;
  	top: 50%;
  	left: 50%;  
  	transform: translate(-50%, -50%);	
	text-transform: uppercase;
	text-align: center;
	border-bottom: 3px solid #fff;
	padding-bottom: 10px;
}
.blogroll .buttom_red .ui {
    box-shadow: unset !important;
}

/* Events
----------------- */

.blogroll-event .overlay{
    width:31.3%;
    height:650px;
    position:absolute;
	background-color: rgba(0,0,0,0.5);
	opacity: 0.9;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 50%, red );
}



/* Company
--------- */

.blogroll-company:hover .overlay{
	opacity:0.7;
    width:456px;
    height:650px;
    position:absolute;
    background-color:#000;

}



/* Reisen
--------- */

.blogroll-reisen:hover .overlay {
    opacity: 0.8;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 50%, red );
    background-color: rgba(0,0,0,0.4);
}

.blogroll-reisen .overlay{
	opacity:1;
    width:31.3%;
    height:650px;
    position:absolute;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.3) 60%, #000 );
}
/* News
-------------------- */

.blogroll-news .grey {
   
    padding: 0;
}
.blogroll-news {
    padding: 0 0 50px;
}
.blogroll-news .left {
    text-align: right;
    display: inline-block;
    width: 49.666%;
    vertical-align: top;
}
.builder-infinite-posts-wrap .post:nth-of-type(odd) .blogroll-news .right .module-buttons{
    text-align: right;
}
.blogroll-news .right .module-buttons{
    text-align: left;
}
 .builder-infinite-posts-wrap .post:nth-of-type(odd) .blogroll-news .left{
    float: right;
}

.blogroll-news .full{
    height: 480px;
    display: block;
}
.blogroll-news .right {
    text-align: left;
    display: inline-block;
    width: 49.333%;
    padding: 50px;
}

/* Button
-------------------- */

.buttom_red{
    margin-top: 34px;
}

.buttom_red .ui{
    background: #ec1c24;
    color: #fff;
    text-transform: uppercase;
	font-weight: 400;
    padding: 10px 80px !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11) !important;
}
.buttom_red .ui.builder_button:hover{
	border-color: #ec1c24;
	color: #ec1c24; 
	background: transparent;
}
.blogroll .buttom_red .ui.builder_button:hover, .blogroll-reisen .buttom_red .ui.builder_button:hover{
	border-color: #fff;
	color: #fff; 

}
.height_middle{
	min-height:442px;
}
.themify_builder_row{background-position: center right !important;}

/* Header
---------------------------------------------------------------------------- */
/* Menu
-------------------- */

#genesis-nav-primary ul li a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

#genesis-nav-primary ul li.current-menu-item {
	border-bottom: 3px solid #ec1c24;

}

#genesis-nav-primary ul li.current-menu-item a{

	font-weight: 500;
}
#genesis-nav-primary ul li {

    
    margin: 0 60px 0 0;

}
.genesis-nav-menu a{
	text-transform: uppercase;
    color: #000;
	
}
.menu-item-566 a{

    color: #fff !important;
    font-size: 14px;
    font-family: 'cooper_hewittsemibold';

}
.menu-item-566{

    background: #ec1c24;
    padding: 4px;
	margin: 0;
	border-radius: 2px;
}
p.red a:hover{
	font-family: 'cooper_hewittsemibold';
}
/* Footer
---------------------------------------------------------------------------- */
/* Menu
-------------------- */
.footer-widgets-2 ul li {
    margin-right: 60px;
}

.footer-widget-area ul li {
    display: inline;
}

.footer-widget-area ul li a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.footer-widget-area ul li.current-menu-item {
	border-bottom: 3px solid #ec1c24;
	
}
.footer-widget-area ul li.current-menu-item a{
	font-weight: 500;
	
}
.footer-widgets-3{
    text-align: right;
}
.footer-widgets ul li a:hover{
    border-bottom: 3px solid #ec1c24;
}
.footer-widgets-3 ul li:first-child {
	margin-right: 30px;
}


.footer-widget-area {
	padding-left: 0px !important;
	padding-right: 0px !important;
    float: unset !important;
    display: inline-block;
	width: unset !important;
}
.footer-widgets-2.footer-widget-area{

    width: 60% !important;
	text-align: center;

}
.footer-widgets-1.footer-widget-area{

    width: 20% !important;
	text-align: left;

}
.footer-widgets-3.footer-widget-area{

    width: 20% !important;
	text-align: right;

}
.footer-widget-area li.footer{
	display: inline-block !important; 
}
/* Contact form
---------------------------------------------------------------------------- */

.contact{
	display: block;
	margin-top: 26px;
}
.contact > div {

    display: inline-block;
    vertical-align: text-top;

}
.contact .left{
	width: 40.666%;
	margin-left: 10%;
	margin-right: 4%;
}
.contact .right{
	width: 40.333%;
}
.contact input[type="text"]{width: 48.1%;background-color: #fff;color: #000;}
.contact input[type="text"]::-webkit-input-placeholder,.contact input[type="email"]::-webkit-input-placeholder, .contact input[type="text"]::-moz-placeholder,.contact input[type="email"]::-moz-placeholder, .contact input[type="text"]:-moz-placeholder,.contact input[type="email"]:-moz-placeholder,.contact input[type="text"]:-ms-input-placeholder,.contact input[type="email"]:-ms-input-placeholder  {
  color: #ececec;
  font-size: 16px;
}
.contact.text-full input[type="text"]{
    width: 100%;
}
.contact.text-full input[type="text"] {
    margin: 0 10px 14px 0;
}
.contact.text-full .right ul li span {
    padding-bottom: 28px;
}

.contact input[type="text"]{
    border: 1px solid #000;
    margin: 0 0px 24px 0;
    padding: 14px;
    border-radius: 2px;
}
.contact .left span:nth-child(2) input[type="text"] {
    margin: 0 0 10px 0;
    width: 49%;
    float: right;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid red !important;
}
div.wpcf7-response-output {
    margin: 1em 0 1em !important;
    padding: 0.2em 20px !important;

}
span.wpcf7-not-valid-tip {

    position: absolute;
    top: -3px;
    right: 20px;
}
.contact .center span{
    color: #cccc;
    font-size: 12px;
}
.contact input[type="submit"]{
    margin: 4px 0 0;
    background: transparent;
	border: 1px solid #ec1c24;
    color: #ec1c24;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 180px !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11) !important;
	border-radius: 2px;
}
 input[type="button"]:focus, input[type="button"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="submit"]:focus, input[type="submit"]:hover, .button:focus, .button:hover {
    background-color: #ec1c24 !important;
    color: #fff !important;
	border: 1px solid #ec1c24;
}
.contact .center{

    display: block;

}
.contact input[type="email"]{
	padding: 14px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
	border-radius: 2px;
}
.wpcf7-list-item input[type="checkbox"]:checked + span::before {
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        line-height: 1;
    color: #ec1c24;
	font-size: 24px;
	line-height: 10px;
	margin-top: 5px;
}
.right ul li span::before {
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        line-height: 1;
    font-size: 14px;
    line-height: 1;
    color: #ec1c24;
    font-size: 28px;
    line-height: 22px;
	margin-right: 15px;
}
.right ul li span{
	display: flex;
	
	font-size: 16px;
	line-height: 1.3;
	padding-bottom: 10px;
}
.wpcf7-list-item input[type="checkbox"] + span::before {
    width: 18px;
    height: 18px;
    display: block;
    content: "";
    float: left;
    margin-right: 20px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 5px;
}
input[type="checkbox"] {
    display: none;
}
span.wpcf7-list-item {
  
    margin: 12px 0 0 !important;
}
/* Spacing
---------------------------------------------------------------------------- */
.themify_builder_row {
	margin: 50px 0;
	
}
.themify_builder_row:first-child {
	margin: 0 0 50px;
	
}
.themify_builder_row .themify_builder_row:first-child {
    margin: 0px;
}
.module-fancy-heading .sub-head{
	display: none;
}
.entry{margin-bottom: 0 !important;}

/* Graniet Slider
---------------------------------------------------------------------------- */

#rev_slider_1_1::after{
	width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    pointer-events: none;
    background: linear-gradient(to right, #efefef 24%, transparent 54% 100%);
} 

#rev_slider_1_1 .darker{
	z-index: unset !important;
}
/* HTML5 Reset
---------------------------------------------------------------------------- */

/* Normalize v8.0.0 | MIT License | github.com/necolas/normalize.css
---------------------------------------------------------------------------- */
/* stylelint-disable */
/* button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}[hidden],template{display:none} */
/* stylelint-enable */

/* Box Sizing
--------------------------------------------- */

html {
	box-sizing: border-box;
}

html {
    margin-top: 18px !important;
    margin: 0 auto;
    max-width: 1720px;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Float Clearing
--------------------------------------------- */

.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before {
	content: " ";
	display: table;
}

.author-box::after,
.clearfix::after,
.entry::after,
.entry-content::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.wrap::after {
	clear: both;
	content: " ";
	display: table;
}


/* Defaults
---------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #fff;
	color: #333;
	font-family: 'cooper_hewittbook';
	font-size: 18px;
	font-weight: 400;
	line-height: 1.625;
	margin: 0;
	overflow-x: hidden;
}

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	transition: all 0.2s ease-in-out;
}

a {
	color: #000;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	text-decoration: none;
}

a:focus,
a:hover {
	color: #333;
	text-decoration: none;
}
.red,.red a{
	color:#ec1c24;
}
p {
	margin: 0 0 20px;
	padding: 0;
}

div p:last-child{
	margin: 0;
	padding: 0;	
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: none;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	clear: both;
	margin: 30px 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

mark {
	background: #ddd;
	color: #333;
}

blockquote {
	margin: 30px;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'cooper_hewittbook';
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
}

h1 {
	font-size: 30px;
}
#slide-10-layer-1 h1{color: #fff;}
h2 {
    font-size: 36px;
    font-family: 'cooper_hewittsemibold';	
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

.entry-content h3,
.entry-content h4 {
	font-family: 'cooper_hewittsemibold';
}

.entry-content h4 {
	margin-top: 40px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	vertical-align: top;
}

figure {
	margin: 0;
}

/* Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
}

.gallery img {
	border: 1px solid #eee;
	height: auto;
	padding: 4px;
}

.gallery img:focus,
.gallery img:hover {
	border: 1px solid #999;
	outline: none;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

.gallery-item {
	float: left;
	margin: 0 0 30px;
	text-align: center;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-size: 18px;
	font-weight: 400;
	padding: 15px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-ms-input-placeholder {
	color: #333;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #333;
	opacity: 1;
}

::placeholder {
	color: #333;
	opacity: 1;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #333;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-family: 'cooper_hewittsemibold';
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	width: auto;
}

button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:focus,
.button:hover {
	background-color: #0073e5;
	color: #fff;
}

.entry-content .button:focus,
.entry-content .button:hover {
	color: #fff;
}

.button {
	display: inline-block;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: #eee;
	border-width: 0;
	color: #777;
	cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
	word-break: break-all;
}

tbody {
	border-bottom: 1px solid #eee;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #eee;
	padding: 6px;
}

th {
	font-weight: 400;
	padding: 0 6px;
}

td:first-child,
th:first-child {
	padding-left: 0;
}

/* Screen Reader Text
--------------------------------------------- */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.widget_search input[type="submit"]:focus {
	background: #fff;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #333;
	display: block;
	font-size: 1em;
	font-weight: 700;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.more-link {
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
}


/* Structure and Layout
---------------------------------------------------------------------------- */

/* Site Container
--------------------------------------------- */

.site-container {
	animation: fadein 1s;
	word-wrap: break-word;
	max-width: 1720px;
}

@keyframes fadein {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

/* Site Inner
--------------------------------------------- */

.site-inner {
	clear: both;
	margin: 0 auto;
	padding: 30px 0px 0;
}


/* Common Classes
---------------------------------------------------------------------------- */

/* Avatar
--------------------------------------------- */

.avatar {
	border-radius: 50%;
	float: left;
}

.author-box .avatar,
.alignleft .avatar {
	margin-right: 20px;
}

.alignright .avatar {
	margin-left: 20px;
}

.comment .avatar {
	margin: 0 15px 20px 0;
}

/* Genesis
--------------------------------------------- */

.after-entry,
.archive-description,
.author-box {
	margin-bottom: 40px;
}

.after-entry {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
	padding: 20px 30px;
}

.after-entry .widget:last-of-type {
	margin-bottom: 0;
}

.breadcrumb {
	border-bottom: 1px solid #eee;
	font-size: 16px;
	margin-bottom: 40px;
	padding-bottom: 10px;
}

.archive-description p:last-child,
.author-box p:last-child {

	margin-bottom: 0;
}

/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.entry-content .search-form {
	margin-bottom: 40px;
	width: 50%;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	margin-top: 10px;
}

.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Titles
--------------------------------------------- */

.archive-description .entry-title,
.archive-title,
.author-box-title {
	font-size: 20px;
	font-family: 'cooper_hewittsemibold';
	margin-bottom: 10px;
}

.entry-title {
	font-size: 30px;
	margin-bottom: 10px;
}

.entry-title a,
.sidebar .widget-title a {
	color: #333;
	text-decoration: none;
}

.entry-title a:focus,
.entry-title a:hover {
	color: #0073e5;
}

.widget-title {
	font-size: 18px;
	font-family: 'cooper_hewittsemibold';
	margin-bottom: 20px;
}

/* WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 30px;
}

img.alignnone,
.alignnone {
	margin-bottom: 15px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 20px 20px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 20px 20px;
}

.gallery-caption,
.wp-caption-text {
	font-size: 14px;
	font-family: 'cooper_hewittsemibold';
	margin: 0;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 30px;
}

/* Widgets
---------------------------------------------------------------------------- */

.widget {
	margin-bottom: 40px;
}

.widget p:last-child,
.widget ul > li:last-of-type {
	margin-bottom: 0;
}

.widget ul > li {
	margin-bottom: 10px;
}

.widget ul > li:last-of-type {
	padding-bottom: 0;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: 0;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* Featured Content
--------------------------------------------- */

.featured-content .entry {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

.featured-content .entry:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
}

.featured-content .entry-title {
	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 10px;
}


/* Plugins
---------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.after-entry .enews {
	text-align: center;
	padding: 10px;
}

.sidebar .enews {
	background-color: #f5f5f5;
	padding: 30px;
}

.enews-widget input {
	font-size: 16px;
	margin-bottom: 10px;
}

.after-entry .enews-widget input {
	text-align: center;
}

.enews-widget input[type="submit"] {
	margin: 0;
	width: 100%;
}

.enews form + p {
	margin-top: 20px;
}

/* Genesis Simple FAQ
--------------------------------------------- */

.gs-faq__question {
	background: transparent;
	border-bottom: 1px solid #eee;
	color: #333;
	padding-left: 0;
	padding-right: 0;
}

.gs-faq__question:focus,
.gs-faq__question:hover {
	background: transparent;
	color: #0073e5;
}

.gs-faq__question::after {
	content: "\f132";
	font-family: dashicons; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	float: right;
}

.gs-faq__question.gs-faq--expanded::after {
	content: "\f460";
}


/* Skip Links
---------------------------------------------------------------------------- */

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link .skip-link-hidden {
	display: none;
	visibility: hidden;
}

.genesis-skip-link li {
	height: 0;
	list-style: none;
	width: 0;
}

/* Display outline on focus */
:focus {
	color: #333;
	outline: #ccc solid 1px;
}


/* Site Header
---------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
	padding: 0;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding-bottom: 25px;
	padding-top: 25px;
}

.wp-custom-logo .title-area {
	max-width: 350px;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 100%;
}

.wp-custom-logo .title-area img {
	width: auto;
}

.site-title {
	font-size: 20px;
	font-family: 'cooper_hewittsemibold';
	line-height: 1;
	margin-bottom: 0;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: #333;
	text-decoration: none;
}

.site-description,
.wp-custom-logo .site-title {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.custom-logo-link{

    padding-top: 20px;
    display: inline-block;

}

/* Site Navigation
---------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	line-height: 1;
	width: 100%;
}


.genesis-nav-menu .menu-item {
	display: block;
	float: none;
	position: relative;
}

.genesis-nav-menu a {
	color: #333;
	display: block;
	font-size: 15px;
	font-weight: 400;
	outline-offset: -1px;
	padding-bottom: 5px;
	padding-top: 12px;
	text-decoration: none;
}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #0073e5;
	text-decoration: none;
}

.genesis-nav-menu .sub-menu,
.genesis-nav-menu .sub-menu a {
	width: 100%;
}

.genesis-nav-menu .sub-menu {
	clear: both;
	display: none;
	left: -9999px;
	margin: 0;
	opacity: 1;
	padding-left: 15px;
	position: static;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	font-size: 14px;
	position: relative;
	word-wrap: break-word;
}

.genesis-nav-menu .menu-item:focus,
.genesis-nav-menu .menu-item:hover {
	position: relative;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	display: block;
	left: auto;
	opacity: 1;
}

/* Responsive Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-responsive-menu {
	display: none;
	position: relative;
}

.genesis-responsive-menu .genesis-nav-menu .menu-item:hover > .sub-menu {
	display: none;
}

.menu-toggle,
.sub-menu-toggle {
	background-color: transparent;
	border-width: 0;
	color: #333;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	visibility: visible;
}

.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
	background-color: transparent;
	border-width: 0;
	color: #0073e5;
}

.menu-toggle {
	float: right;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 15px 0;
	position: relative;
	z-index: 1000;
}

.menu-toggle.activated::before {
	content: "\f335";
}

.site-header .menu-toggle::before {
	float: left;
	margin-right: 5px;
	position: relative;
	text-rendering: auto;
	top: 1px;
}

.sub-menu-toggle {
	float: right;
	padding: 9px 10px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.sub-menu .sub-menu-toggle {
	padding: 12px 10px;
}

.sub-menu-toggle::before {
	display: inline-block;
	text-rendering: auto;
	transform: rotate(0);
	transition: transform 0.25s ease-in-out;
}

.sub-menu-toggle.activated::before {
	transform: rotate(180deg);
}

/* Header Menu
--------------------------------------------- */

.nav-primary {
	clear: left;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 100%;
}

/* Footer Menu
--------------------------------------------- */

.nav-secondary {
	margin-top: 18px;
}

.nav-secondary  ul li.login a:hover {
    border-bottom: 3px solid #ec1c24;
	color: #000;
	font-weight: 500;
}

.nav-secondary .genesis-nav-menu {
	line-height: 1.5;
}

.nav-secondary .menu-item {
	display: inline-block;
}

.nav-secondary a {
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}


/* Content Area
---------------------------------------------------------------------------- */

/* Entry Content
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 0px;
	padding-left: 20px;
}
.entry-content .contact ul {
	
	padding-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
    list-style-type: disc;
    line-height: 1.3;
}

.entry-content .contact ul > li {
    list-style-type: none;
}
.entry-content ol ul > li,
.entry-content ul ul > li {
	list-style-type: circle;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #f5f5f5;
}

.content .sticky {
	background-color: #f5f5f5;
	padding: 30px;
}

/* Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 16px;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 20px;
}

.entry-footer .entry-meta {
	border-top: 1px solid #eee;
	padding-top: 20px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 60px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #f5f5f5;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-family: 'cooper_hewittsemibold';
	margin-bottom: 4px;
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #333;
	color: #fff;
}

/* Entry Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	margin-bottom: 40px;
}

.comment-list li {
	padding: 40px 0 0 30px;
}

.comment-list .depth-1 {
	padding-left: 0;
}

.comment-header {
	margin-bottom: 30px;
}

.comment-content {
	clear: both;
}

.comment-content ul > li {
	list-style-type: disc;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.comment-header p {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}

.comment-form-cookies-consent label {
	display: inline;
	padding-left: 10px;
}

/* Sidebar
---------------------------------------------------------------------------- */

.sidebar {
	font-size: 16px;
	line-height: 1.5;
}

.sidebar .widget {
	margin-bottom: 40px;
}

.sidebar p {
	margin-bottom: 20px;
}

/* Footer Widgets
---------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #fff;
	clear: both;
	padding-bottom: 60px;
	width: 85%;
	margin: 0 auto;
}

.footer-widgets .wrap {
	margin-left: auto;
	margin-right: auto;
}

.footer-widget-area {
	margin-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
}

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
	margin-bottom: 0;
}


/* Site Footer
---------------------------------------------------------------------------- */

.site-footer {
	background-color: #fff;
	border-top: 1px solid #eee;
	font-size: 15px;
	line-height: 1.5;
	padding: 30px;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}


.mobile-image{
	display: none;
}
.module-layout-part .rev_slider_wrapper {
		margin-top:0px !important;
}

.rev_slider_wrapper {
		margin-top:20px !important;
}

.team img{border: 1px solid #efefef !important;}

.caruosel .tp-carousel-wrapper .tp-revslider-slidesli .slotholder::after {
	
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    pointer-events: none;
    background: rgba(0,0,0,.6);

}

.active-revslide.tp-revslider-slidesli .slotholder::after {

    background: rgba(0,0,0,0);

}
.persephone.tparrows {

    border: 0px !important;
}

.hephaistos .tp-bullet:hover, .hephaistos .tp-bullet.selected {

    background: rgba(153, 153, 153, 1) !important;
    border: 3px solid rgb(153, 153, 153) !important;

}

.hephaistos .tp-bullet {
	border: 3px solid rgb(255, 255, 255) !important;
	box-shadow: unset !important;
	background: #efefef !important;
}

/* Media Queries
---------------------------------------------------------------------------- */
@media only screen and (min-width: 1721px) {
	.fullwidthbanner-container .fullwidthabanner > ul{
		max-height: 100% !important;
	}
}

@media only screen and (max-width: 1821px) {
	
	.site-container,.site-inner,.site-header,html {

    	max-width: 1670px !important;

	}
	.fullwidthbanner-container .fullwidthabanner > ul{
		width: 100% !important;
	}

}

@media only screen and (max-width: 1721px) {
	
	.site-container,.site-inner,.site-header,html {

    	max-width: 1620px !important;

	}


}
@media only screen and (max-width: 1681px) {
	

	
	html {
    	max-width: unset !important;
		width: 94% !important;
	}
	
	.site-header {
    	max-width: unset !important;
		width: 100% !important;
	}
	
	.site-inner{
		max-width: unset !important;
		width: 100%;
	}
	
	.content {
		width: 100% !important;
	}
	
	#genesis-nav-primary ul li {
		margin: 0 45px 0 0;
	}
	
	.menu-item-156 {
		margin: 0 45px 0 0;
	}
	
	.footer-widgets-2.footer-widget-area {
		padding: 0 9% !important;
	}
	
	.tp-parallax-wrap{
		left: 20px !important;
	}

	.right{    
		background-position: left center !important
	}
	
	.left{    
		background-position: right center !important
	}
	
	#rev_slider_2_2_wrapper .tp-bgimg {
		background-position: right bottom !important;
		background-color: #efefef
	}
	
	
	
	.rev_slider h1 {
    	font-size: 49px !important;
	}
	.footer-widgets {
		width: 100%;

	}
}
@media only screen and (max-width: 1581px) {
	.rev_slider	h1 {
    	font-size: 46px !important;
		width: 90%;
	}
	
	.title-post h3,h2 .main-head  {
		font-size: calc(16px + (30 - 16) * ((100vw - 300px) / (1500 - 300)));
		line-height: calc(26px + (30 - 26) * ((100vw - 300px) / (1500 - 300)));
		text-transform: uppercase;
	}
	
}


@media only screen and (max-width: 1480px)  {

	.rev_slider h1 {
    	font-size: 34px !important;
		width: 82%;
		line-height: 38px !important;
	}
	
	.rev_slider,.rev_slider_wrapper{
		max-height: 668px;
	}
	
	.home .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(2), .page-id-13 .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(2),.page-id-514  .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(2){
		top: 200px !important;
	}
	.page-id-514  .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(3){
		top: 390px !important;
	}
	.page-id-13 .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(3){
		top: 350px !important;
	}
	.home .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(3){
		top: 376px !important;
	}
	.home .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(4), .page-id-13 .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(4),.page-id-514  .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(4){
		top: 490px !important;
	}
	.single-post .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(3){
		top: 320px !important;
	}
	.postid-423  .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(3),.postid-422  .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(3),.postid-421  .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(3),.postid-420  .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(3) {
		top: 360px !important;
	}
	
	.single-post .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(2){
		top: 200px !important;
	}
	.benefits .module-text {
		padding: 20px 0 0;
		font-size: 16px;
	}
	.benefits .module-image .image-title {
		
		font-size: 16px;
	}
	
	.single-post .tp-revslider-slidesli .tp-parallax-wrap:nth-of-type(4){
		top: 390px !important;
	}

	.footer-widgets-2.footer-widget-area {
		padding: 0 !important;
	}
	
	.footer-widgets-2.footer-widget-area {
		width: 54% !important;
		text-align: center;
	}
	
	.footer-widgets-3.footer-widget-area {
		width: 26% !important;
		text-align: right;
	}
	.height_middle {
		height: 100% !important;
		min-height: unset;
		background-size: contain !important;
	}
	
	.blogroll .module-buttons .module-buttons-item, .blogroll-reisen .module-buttons .module-buttons-item {
		display: block !important;
	}
	.buttom_red .ui {
		width: 100%;
	}
}
@media only screen and (max-width: 1500px) and  (min-width: 1301px){
	.boxed_text .row_inner {

		width: 84%;
	}

	.boxed_text .row_inner > .module_column{

		width: 60%;
	}
	.right.boxed_text .row_inner > .module_column {
 
		margin: 0 0 0 auto;
	}

}
@media only screen and (max-width: 1300px) and  (min-width: 1164px){
	.boxed_text .row_inner {
		padding: 25px !important;
		width: 100%;
		position: absolute;
    	top: 50%;
    	transform: translateY(-50%);
	}
	.map-wrap .col4-1 .tb-column-inner{
		text-align: center;
	} 
	.map-wrap .col4-1 .tb-column-inner .module h3{
		text-align: center;
	} 
}
@media only screen and (max-width: 1300px) and  (min-width: 722px){
	.mobile-image{
		display: block;
	}
	
	/* Text Box
	--------------------------------------------- */
	.boxed_text{
		float: left;
		width: 50%;
		background: #efefef;
		margin: 0 0 25px !important;
	}
	
	.mobile-image.themify_builder_row.hided-image {
		margin: 0 0 25px !important;
		float: left;
		width: 50%;
		clear: both;
		background-color: #efefef;
	}
	
	.text_box_end{
		clear: both;
	}
	
	.right.mobile-image.themify_builder_row.hided-image {
		float: right;
	}
	
	
	
	/* Image
	--------------------------------------------- */	
	
	.themify_builder_row.mobile-image {
		margin: 25px 0 -25px !important;
	}
	
	.module-image .image-wrap {
		width: 100% !important;
		padding: 0;
		display: block !important;
		text-align: center;
	}
	
	.themify_builder .module-image {
		padding-bottom: 0px !important;
	}
	
	.module-image.image-top .image-content {
		margin-top: 1.5em !important;
		margin-bottom: 1em !important;
	}
	

	.referenz-slider .tp-bgimg {
		background-size: contain !important;
		padding-top: 0;
		margin-top: 0;
	}
	/* Wrap
	--------------------------------------------- */
	.gutter-narrow > .module_column {
		margin-left: 0% !important;
	}
	
	.module_column.col3-1 {
		padding: 0;

		
	}
	
	.map-wrap .row_inner  .module_column{
		width: 100% !important;
	}
	
	.height_middle {
		min-height: unset;
		height: auto;
	}
	
	.themify_builder_row {
		margin: 25px 0;
		background-image: none !important;
	}

	.themify_builder_row.hided-image{
		margin: 25px 0 0;		
	}
	
	.themify_builder_content .themify_builder_row:nth-child(2) {
		margin: 25px 0 25px;
	}
	
	.themify_builder_row:first-child, .themify_builder_row.hide_desktop_2 {
		margin: 0 0 25px;
	}
	
	.blogroll p{font-size: 16px;}
	.layout-part-118-12-0-0{
		padding: 25px 0;
	}

}

@media only screen and (max-width: 1200px) {



	.blogroll-reisen:hover .full > div .module-buttons {
		bottom: 4.8%;
	}

	.map-wrap .col4-1 .tb-column-inner{
		text-align: center;
	} 
	
	.map-wrap .col4-1 .tb-column-inner .module h3{
		text-align: center;
	} 
	.site-header .nav-primary {
		margin-right: 0%;
	}
	
	.boxed_text .row_inner {
		padding: 25px !important;
		width: auto;
		display: block;
	}
	.buttom_red {
		padding-top: 34px;
		margin: 0;
	}
	
	#genesis-nav-primary ul li {
		margin: 0 30px 0 0;
	}

	
		/* Footer Widgets
	--------------------------------------------- */
	.footer-widgets-2.footer-widget-area{
		width: 100% !important;
		text-align: left;
		padding: 10px 0 !important;
	}
		
	.footer-widgets {
		background-color: #fff;
		clear: both;
		padding: 0 0 25px;

	}
	.footer-widget-area ul li a {
		font-size: 14px;
	}	
	.footer-widget-area .mobile{ display: none !important;}
	.footer-widgets-2 ul li {
		margin-right: 14px;
	}
	.footer-widget-area {
    margin-bottom: 10px;

		}
	.footer-widgets-1.footer-widget-area{
		width: 100% !important;
		text-align: left;
	}
	
	.footer-widgets-3.footer-widget-area{
		width: 100% !important;
		text-align: left;
	}
	

}

@media only screen and (min-width: 1048px) {

	/* Site Header
	--------------------------------------------- */

	.site-header {
		position: relative;
		max-width: 1720px;
		z-index: 9999;
		width: 100%;
	}
	

	.site-inner{
		padding: 0;
	}
	
	/* Genesis Menu
	--------------------------------------------- */

	.genesis-nav-menu .menu-item {
		display: inline-block;
	}

	.genesis-nav-menu .menu-item:focus,
	.genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.genesis-nav-menu > .menu-bold > a {
		font-weight: 700;
	}

	.genesis-nav-menu > .menu-highlight > a {
		background-color: #333;
		border-radius: 3px;
		color: #fff;
		font-family: 'cooper_hewittsemibold';
		margin-left: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.genesis-nav-menu > .menu-highlight > a:focus,
	.genesis-nav-menu > .menu-highlight > a:hover {
		background-color: #0073e5;
	}

	.genesis-nav-menu .sub-menu,
	.genesis-nav-menu .sub-menu a {
		width: 180px;
	}

	.genesis-nav-menu .sub-menu {
		border-top: 1px solid #eee;
		opacity: 0;
		padding-left: 0;
		position: absolute;
		transition: opacity 0.4s ease-in-out;
	}

	.genesis-nav-menu .sub-menu a {
		border: 1px solid #eee;
		border-top: 0;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.genesis-nav-menu .sub-menu .sub-menu {
		margin: -46px 0 0 179px;
	}

	/* Responsive Menu
	--------------------------------------------- */

	.genesis-responsive-menu {
		display: block;
		padding-top: 15px;
	}

	.menu-toggle,
	.sub-menu-toggle {
		display: none;
		visibility: hidden;
	}

	/* Header Menu
	--------------------------------------------- */

	.nav-primary {
		clear: none;
		float: right;
		width: auto;
	}

	.nav-primary .genesis-nav-menu a {

	}

	/* Site-Inner
	--------------------------------------------- */

	.site-inner {
		margin-top: 0px !important;
		max-width: 1720px;
	}

	/* Content
	--------------------------------------------- */

	.content {
		float: left;
		width: 85%;
	}

	.sidebar-content .content {
		float: right;
	}

	.full-width-content .content,
	.landing-page .content {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	/* Sidebar
	--------------------------------------------- */

	.sidebar {
		float: right;
		width: 30%;
	}

	.sidebar-content .sidebar {
		float: left;
	}

	/* Author Box
	--------------------------------------------- */

	.author-box {
		background-color: #f5f5f5;
		padding: 30px;
	}

	/* After Entry
	--------------------------------------------- */

	.after-entry {
		padding: 40px 60px;
	}

	.after-entry .enews {
		padding-left: 30px;
		padding-right: 30px;
	}

	/* Entry Misc.
	--------------------------------------------- */

	.after-entry,
	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.entry-pings {
		margin-bottom: 60px;
	}

	/* Footer Widgets
	--------------------------------------------- */

	.footer-widget-area {
		float: left;
		margin-bottom: 0;
		width: calc(100% / 3);
	}


}

@media only screen and (max-width: 1048px) and (min-width: 741px){
	
	.boxed_text .row_inner {
		padding: 25px !important;
		width: 100%;
	}
	

	
	/* Typo
	--------------------------------------------- */	
	h1 {
		font-size: 32px !important;
		line-height: 38px !important;
	}

	.themify_builder .module-fancy-heading {
		padding-bottom: 0 !important;		
		}
	
	h2 {
		font-size: 22px !important;
	}
	
	h2 .main-head{
		font-size: 22px !important;
		line-height: 30px !important;
	}
	
	.boxed_text.right .row_inner p,.boxed_text .module-fancy-heading .themify-text-right,.boxed_text .module-fancy-heading .themify-text-center {
		text-align: left;
	}
	
	.boxed_text .right {
		text-align: left;
	}
	
    .home .module_column.col3-1 p{
		padding: 0 0 25px;
		margin: 0;
	}	
	.boxed_text .module-fancy-heading .themify-text-left {
		padding-top: 0px !important;
	}
	
	.module-fancy-heading .themify-text-left {
		padding-top: 25px !important;
	}
	.map .module-fancy-heading .themify-text-left {
		padding-top: 0px !important;
	}
	.themify_builder .fancy-heading-18-1-0-0.module .main-head {
		font-size: 34px !important;
		line-height: 42px !important;
	}
	
	.themify_builder .fancy-heading-18-1-0-0.module-fancy-heading {

		padding-bottom: 0px !important;
	}
	
	.entry-content .contact ul {
		padding-left: 0px;
		padding-top: 20px;
	}	
	
	/* Button
	--------------------------------------------- */	
	
	.buttom_red .ui {
		width: 100%;
		text-align: center;
		padding: 10px 30px !important;
	}
	
	.boxed_text .module-buttons .module-buttons-item {
		display: block !important;
		width: 100%;
	}	
	
	/* Form
	--------------------------------------------- */	
	.contact {
		margin-top: 5px;
	}
	
	.contact input[type="submit"] {
		padding: 10px !important;
		width: 100%;
	}
	
	.contact .right {
		width: 100%;
	}
	
	.contact > div {
		display: block;
	}
	
	.contact .left {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	
	.contact input[type="text"]{
		width: 100%;
		margin: 0 0 10px  0 !important;
	}
	
	.contact .left span:nth-child(2) input[type="text"] {
		width: 100%;
	}
	
	/* Blog Raster
	--------------------------------------------- */
	
	.blogroll .overlay {
		height: 450px;
	}

	.blogroll-news .full {
		height: 100%;
	}

	.blogroll-news .left {
		display: block;
		width: 100%;
		float: unset !important;
	}
	
	.blogroll-news .right {
		display: block;
		width: 100%;
		padding: 25px;
	}
	
	.builder-infinite-posts-wrap .post:nth-of-type(2n+1) .blogroll-news .right .module-buttons {
		text-align: left;
	}
	
	.builder-posts-wrap.grid3 .post:nth-of-type(3n+1), .builder-posts-wrap.grid2 .post:nth-of-type(2n+1), .builder-posts-wrap.grid2-thumb .post:nth-of-type(2n+1) {
		margin-left: 0;
		clear: none !important;
	}
	
	.builder-posts-wrap.grid3 .post:nth-of-type(2n+2){
		padding-left: 0;
		float: right;
	}
	
	.builder-posts-wrap.grid3 .post,.blogroll-event .overlay, .blogroll-reisen .overlay   {
		width: 456px !important;
		float: left;
		margin: 0 !important;
	}
	

	
	/* Nav
	--------------------------------------------- */	
	.nav-secondary{
		display:none;
	}
	
	/* Slider
	--------------------------------------------- */
	
	.ref .module-image .image-wrap {
		padding: 10px 0 20px;
	}
	
	.ref .module_column:last-child  .module-image .image-wrap:last-child {
		padding: 10px 0 10px;
	}	
	
	.rev_slider .tp-parallax-wrap{
		display: none !important;
	}
	
	/* Site Header
	--------------------------------------------- */
	.site-header .wrap {
		padding: 1rem 0 0;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 741px) {

	
	/* Blog Raster
	--------------------------------------------- */
	
	.blogroll .overlay {
		height: 450px;
	}

	
	.builder-posts-wrap.grid3 .post,.blogroll-event .overlay, .blogroll-reisen .overlay   {
		width: 416px !important;

	}
	.blogroll .overlay {
		width: 416px;

	}
	.gutter-narrow > .module_column {
		margin-left: 0% !important;
	}
}

@media only screen and (max-width: 900px) and (min-width: 741px) {
		/* Blog Raster
	--------------------------------------------- */
	
	.blogroll .overlay {
		height: 450px;
	}

	
	.builder-posts-wrap.grid3 .post,.blogroll-event .overlay, .blogroll-reisen .overlay   {
		width: 386px !important;

	}
	.blogroll .overlay {
		width: 386px;

	}
}

@media only screen and (max-width: 840px) and (min-width: 741px) {
		/* Blog Raster
	--------------------------------------------- */
	
	.blogroll .overlay {
		height: 450px;
	}

	
	.builder-posts-wrap.grid3 .post,.blogroll-event .overlay, .blogroll-reisen .overlay   {
		width: 346px !important;

	}
	.blogroll .overlay {
		width: 346px;

	}
}
@media only screen and (max-width: 1048px) {
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }


.hamburger-box {
  width: 32px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 28px;
    height: 2px;
    background-color: #ec1c24;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.8s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
bottom: -10px; }
	
	
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.8s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.activated  .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.activated  .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.activated .hamburger-inner::after {
transform: translate3d(0, -20px, 0) rotate(-90deg); }
	
	
		/* Responsive Menu
	--------------------------------------------- */
	.site-header .login {		
		box-shadow: 0px 2px 2px #ccc !important;
		border: 1px solid #ccc;
		border-top: none !important;
		padding: 8px 0 18px ;
		
	}
	
	.probetraining{
		box-shadow: 0 0 10px 2px #ccc !important;
		border: 1px solid #ccc;
		border-bottom: 0 !important;
		padding: 20px 0 8px;
		border-radius: 2px
	}
	html {
    	margin-top: 0px !important;
	}
	.site-header .wrap {
		padding: 0 !important;
	}
	
	.probetraining span{
	    background-color: #ec1c24;
		color: #fff;
		border: 1px solid #ec1c24;
		padding: 10px 24px;
		border-radius: 2px
	}
	
	.site-header .login span{
	    background-color: #efefef;
		color: #ec1c24;
		border: 1px solid #ec1c24;
		padding: 10px 24px;
		border-radius: 2px
	}
	
	.probetraining span:hover{
	    background-color: #efefef;
		color: #ec1c24;
	}	
	
	.site-header .login span:hover{
		background-color: #ec1c24;
		color: #fff;
	}
	
	.mobile a{
		text-align: center !important;
	}
	
	#genesis-nav-primary ul li.current-menu-item {
		border-width: 1px;
	}
	
	#genesis-nav-primary ul li {
		margin: 0;
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		background-color: #efefef;
	}
	.genesis-nav-menu {
		border-top: 1px solid #ec1c24;
	}
	.aktiv .genesis-nav-menu {
		border-top: 1px solid #ccc;
	}

	.genesis-nav-menu a {
		text-align: left;
	}
	
	.site-header .menu-toggle::before {
		margin-right: -8px;
		top: -8px;
	}
	
	.custom-logo-link {
		position: absolute;
		top: 0%;
		left: 3%;
	}
	.aktiv .nav-primary {
	

		padding-top: 0;
		padding-bottom: 25px;
		
	}
	.custom-logo-link {
		padding: 12px 0;
	}
	
	.menu-toggle:focus, .menu-toggle:hover, .sub-menu-toggle:focus, .sub-menu-toggle:hover {
	     border-width: 1px;
	}
	
	.dashicons-before::before {
    	width: 40px !important;
    	height: 40px !important;
		font-size: 40px !important;
		color: #ec1c24;
	}
	
	.menu-toggle{
	    font-size: 0;
		margin-bottom: 4px;
		margin-top: 4px;
		padding: 10px 0px 10px 20px;
		border-left: 1px solid #ccc;
	}
	
	.aktiv .menu-toggle{
		padding: 10px 16px 10px 20px;
	}
	.mobile{
		display: block !important;
		background-color: #fff !important;
	}
	
	.genesis-nav-menu a {
		text-align: left;
		width: 100%;
		font-weight: 500;
		padding: 15px 25px;
	}

	#genesis-nav-primary ul li.current-menu-item {
		color: #fff;
	}
	
	.site-inner {
		padding: 0;
	}
	
	/* Slider
	--------------------------------------------- */
	
	.themify_builder_row:first-child .tp-bgimg {
		background-position: center right !important;
	}
	/* Blog Raster
	--------------------------------------------- */

	
	.blogroll h3 span, .blogroll-event h3 span, .blogroll-company h3 span, .blogroll-reisen h3 span, .blogroll-news h3 span {
		display: block;
		
	}
		
	.blogroll .full:hover h3 span{
		transform: none;
	}
		

	.blogroll .full, .blogroll-reisen .full {
		padding: 25px;
	}
	.blogroll-reisen:hover .full > div {
		bottom: 0%;
	}
	.blogroll-reisen:hover .full > div > span {
		margin-top: 0px;

	}
	.blogroll-reisen .full > div > span{
		
		font-size: 16px;
	}
	.blogroll-reisen:hover h3 span{		
		line-height: 26px; 	
	}
	
	.blogroll-reisen:hover h3 {
		margin-bottom: 20px;
	}
	.blogroll-reisen:hover .full > div .module-buttons {
		bottom: 1.1%;
	}

}
	
	@media only screen and (max-width: 740px) {
	
	
	
	html {
		width: 100% !important;
    	margin-top: 0 !important;
	}


	.entry-content{
		padding: 0 25px;
	}

	

	
	/* Responsive Menu
	--------------------------------------------- */
	.login {		
		box-shadow: 0px 2px 2px #ccc !important;
		border: 1px solid #ccc;
		border-top: none !important;
		padding: 8px 0 18px ;
		
	}
	
	.probetraining{
		box-shadow: 0 0 10px 2px #ccc !important;
		border: 1px solid #ccc;
		border-bottom: 0 !important;
		padding: 20px 0 8px;
		border-radius: 2px
	}
	
	.probetraining span{
	    background-color: #ec1c24;
		color: #fff;
		border: 1px solid #ec1c24;
		padding: 10px 24px;
		border-radius: 2px
	}
	
	.login span{
	    background-color: #efefef;
		color: #ec1c24;
		border: 1px solid #ec1c24;
		padding: 10px 24px;
		border-radius: 2px
	}
	
	.probetraining span:hover{
	    background-color: #efefef;
		color: #ec1c24;
	}	
	
	.login span:hover{
		background-color: #ec1c24;
		color: #fff;
	}
	
	.mobile a{
		text-align: center !important;
	}
	
	#genesis-nav-primary ul li.current-menu-item {
		border-width: 1px;
	}
	
	#genesis-nav-primary ul li {
		margin: 0;
		border-bottom: 1px solid #ccc;
		background-color: #efefef;
	}
	.genesis-nav-menu {
		border-top: 1px solid #ec1c24;
	}
	.aktiv .genesis-nav-menu {
		border-top: 1px solid #ccc;
	}

	.genesis-nav-menu a {
		text-align: left;
	}
	
	.site-header .menu-toggle::before {
		margin-right: -8px;
		top: -8px;
	}
	
	.custom-logo-link {
		position: absolute;
		top: 0%;
		left: 25px;
	}
	.aktiv .nav-primary {
	

		padding-top: 0;
		padding-bottom: 25px;
		
	}
	.custom-logo-link {
		padding: 12px 0;
	}
	
	.menu-toggle:focus, .menu-toggle:hover, .sub-menu-toggle:focus, .sub-menu-toggle:hover {
	     border-width: 1px;
	}
	
	.dashicons-before::before {
    	width: 40px !important;
    	height: 40px !important;
		font-size: 40px !important;
		color: #ec1c24;
	}
	
	.menu-toggle{
	    font-size: 0;
		margin-bottom: 4px;
		margin-top: 4px;
		padding: 10px 0px 10px 20px;
		border-left: 1px solid #ccc;
	}
	
	.aktiv .menu-toggle{
		padding: 10px 16px 10px 20px;
	}
	.mobile{
		display: block !important;
		background-color: #fff !important;
	}
	
	.genesis-nav-menu a {
		text-align: left;
		width: 100%;
		font-weight: 500;
		padding: 15px 25px;
	}

	#genesis-nav-primary ul li.current-menu-item {
		color: #fff;
	}
	
	.site-inner {
		padding: 0;
	}
	
	/* Footer Widgets
	--------------------------------------------- */
	.footer-widgets-2.footer-widget-area{
		width: 100% !important;
		text-align: left;
		padding: 0 !important;
	}
		
	.footer-widgets {
		background-color: #fff;
		clear: both;
		padding: 25px 25px 25px;
	}
	.footer-widget-area ul li a {
		font-size: 14px;
	}	
	.footer-widget-area .mobile{ display: none !important;}
	.footer-widgets-2 ul li {
		margin-right: 14px;
	}
	.footer-widget-area {
    margin-bottom: 10px;

		}
	.footer-widgets-1.footer-widget-area{
		width: 100% !important;
		text-align: left;
	}
	
	.footer-widgets-3.footer-widget-area{
		width: 100% !important;
		text-align: left;
	}
	
	/* Typo
	--------------------------------------------- */	
	h1 {
		font-size: 30px !important;
		line-height: 36px !important;
	}

	.themify_builder .module-fancy-heading {
		padding-bottom: 0 !important;		
		}
	
	h2 {
		font-size: 22px !important;
	}
	
	h2 .main-head{
		font-size: 22px !important;
		line-height: 30px !important;
	}
	
	.themify_builder .fancy-heading-18-1-0-0.module .main-head {
		font-size: 30px !important;
		line-height: 36px !important;
	}
	
	.boxed_text.right .row_inner p,.boxed_text .module-fancy-heading .themify-text-right,.boxed_text .module-fancy-heading .themify-text-center {
		text-align: left;
	}
	
	.boxed_text .right {
		text-align: left;
	}
	
    .benefits .module_column.col3-1 p{
		padding: 0 0 25px;
		margin: 0;
	}	
	.boxed_text .module-fancy-heading .themify-text-left {
		padding-top: 0px !important;
	}
	
	.module-fancy-heading .themify-text-left {
		padding-top: 25px !important;
	}
	.map .module-fancy-heading .themify-text-left {
		padding-top: 0px !important;
	}
	
	.themify_builder .fancy-heading-18-1-0-0.module-fancy-heading {

		padding-bottom: 0px !important;
	}
	
	.entry-content .contact ul {
		padding-left: 0px;
		padding-top: 20px;
	}	
	
	/* Button
	--------------------------------------------- */	
	
	.buttom_red .ui {
		width: 100%;
		text-align: center;
		padding: 10px 0 !important;
	}
	.module-buttons .module-buttons-item {
		display: block !important;
	}
	.boxed_text .module-buttons .module-buttons-item {
		display: block !important;
		width: 100%;
	}	
	
	/* Form
	--------------------------------------------- */	
	.contact {
		margin-top: 5px;
	}
	
	.contact input[type="submit"] {
		padding: 10px !important;
		width: 100%;
	}
	
	.contact .right {
		width: 100%;
	}
	
	.contact > div {
		display: block;
	}
	
	.contact .left {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	
	.contact input[type="text"]{
		width: 100%;
		margin: 0 0 10px  0 !important;
	}
	
	.contact .left span:nth-child(2) input[type="text"] {
		width: 100%;
	}
	
	/* Blog Raster
	--------------------------------------------- */
	
	.blogroll .overlay {
		width: 100%;
		height: 450px;
	}
	.blogroll-reisen h3 {
		width: 100%;
		padding: 0;
		margin: 0;
	}	
	.blogroll-reisen:hover h3 {
		margin: 0;
	}
		
	.blogroll-reisen div > span{
		    display: block;
		margin: 0 0 20px;
	}		
	.blogroll h3 span, .blogroll-event h3 span, .blogroll-company h3 span, .blogroll-reisen h3 span, .blogroll-news h3 span {
		display: block;
		
	}

	.blogroll .full:hover h3 span{
		transform: none;
	}
		
	.blogroll-reisen .full > div > span, .blogroll-company .full > div > span, .blogroll-event .full > div > span {
		position: initial;

	}	
	.blogroll .full, .blogroll-event .full, .blogroll-company .full, .blogroll-reisen .full {
		padding: 25px;
	}
	.blogroll-event .overlay,.blogroll-reisen .overlay,.blogroll-company:hover .overlay {
    	width: 100%;
	}
	
	.blogroll-news .full {
		height: 100%;
	}

	.blogroll-news .left {
		display: block;
		width: 100%;
		float: unset !important;
	}
	
	.blogroll-news .right {
		display: block;
		width: 100%;
		padding: 25px;
	}
	
	.builder-infinite-posts-wrap .post:nth-of-type(2n+1) .blogroll-news .right .module-buttons {
		text-align: left;
	}
	.blogroll:hover h3 {
		margin-bottom: 10px;
	}
	.full p {
		font-size: 16px;
	}
	.blogroll .full > div .module-buttons {
		width: 95%;
		margin: auto;
	}	
	.blogroll-reisen:hover .full > div .module-buttons {
		bottom: 1.1%;
	}
		
		
	/* Image
	--------------------------------------------- */	
	#rev_slider_2_2_wrapper .tp-bgimg {
		background-size: cover !important;
	}
	
	.themify_builder_row.mobile-image {
		margin: 25px 0 0 !important;
	}
	
	.module-image .image-wrap {
		width: 100% !important;
		padding: 0;
		display: block !important;
		text-align: center;
	}
	
	.themify_builder .module-image {
		padding-bottom: 0px !important;
	}
	
	.module-image.image-top .image-content {
		margin-top: 1.5em !important;
		margin-bottom: 1em !important;
	}
	
	/* Nav
	--------------------------------------------- */	
	.nav-secondary{
		display:none;
	}
	
	/* Slider
	--------------------------------------------- */
	
	.ref .module-image .image-wrap {
		padding: 10px 0 20px;
	}
	
	.ref .module_column:last-child  .module-image .image-wrap:last-child {
		padding: 10px 0 10px;
	}	
	
	.rev_slider .tp-parallax-wrap{
		display: none !important;
	}
	
	/* Site Header
	--------------------------------------------- */
	.site-header > .wrap {		 
		background: #fff;
		border-bottom: 1px solid #ccc;
		padding: 0 25px;
	}
	
	.site-header.aktiv .wrap {
		padding: 0;
	
	}
	
	.site-header > .wrap{
		margin-bottom: 0;
	}
	
	.aktiv.site-header > .wrap{
		background: transparent;
		border-bottom: 0;
	}
	
	/* Site Header
	--------------------------------------------- */	
	.module_column.col3-1 {
		padding: 0;
		margin: 0;
	}
	
	.row_inner .module_column{
		width: 100% !important;
	}
	
	.height_middle {
		min-height: unset;
		height: auto;
	}
	
	.boxed_text .row_inner {
		padding: 25px !important;
		width: 100%;
	}
	
	.themify_builder_row {
		margin: 0 0 25px 0;
		background-image: unset !important;
	}

	.themify_builder_row.hided-image{
		margin: 25px 0 0;		
	}
	
	.themify_builder_content .themify_builder_row:nth-child(2) {
		margin: 25px 0 25px;
	}
	
	.themify_builder_row:first-child, .themify_builder_row.hide_desktop_2 {
		margin: 0 0 25px;
	}
	
	.gutter-narrow > .module_column {
		margin-left: 0% !important;
	}
	.grey {
		padding: 25px;
	}
	.mobile-image {
		display: block;
	}
}
	@media only screen and (max-width: 340px) {
.genesis-nav-menu a {

    font-size: 12px;
}
}
/* Print Styles
---------------------------------------------------------------------------- */

@media print {

	*,
	*::before,
	*::after {
		background: transparent !important;
		box-shadow: none !important;
		color: #333 !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]::after,
	a[href^="#"]::after,
	.site-title > a::after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 2cm 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	.content,
	.content-sidebar {
		width: 100%;
	}

	button,
	input,
	select,
	textarea,
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar {
		display: none !important;
	}

	.title-area {
		text-align: center;
		width: 100%;
	}

	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0;
	}

	.site-inner {
		padding-top: 0;
		position: relative;
	}

	.author-box {
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
	}


	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;
	}

}











