/* Genesis Sample WooCommerce
Loaded on WooCommerce pages */

/* WooCommerce Globals
---------------------------------------------------------------------------- */
/* Cart icon
--------------------------------------------- */
.nav-secondary ul.menu {
    padding-right: 98px;
}
.cart-contents {
    color: #000;
    font-size: 16px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 22px;
    z-index: 9999;
}

.cart-contents:before{
  font-family: FontAwesome;
  color: #000;
  content: "\f07a";
  font-size: 18px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  padding-right: 5px;
  vertical-align: bottom;
}

.cart-contents:hover {
  text-decoration: none;
}

.archive header.woocommerce-products-header {
    display: none;
}
.woocommerce.full-width-content .content,
.woocommerce-page.full-width-content .content {
	max-width: 1140px;
	width: 100%;
}

.woocommerce .entry.product {
	padding: 0;
}

.woocommerce abbr.required,
.woocommerce ins {
	text-decoration: none;
}

.woocommerce span.onsale {
	background-color: #0073e5;
	border-radius: 0;
	line-height: 1.75;
	min-height: auto;
}

.woocommerce fieldset {
	margin-bottom: 20px;
}

.woocommerce .products .star-rating {
	padding: 10px;
}

.woocommerce p.stars a,
.woocommerce p.stars a:focus,
.woocommerce p.stars a:hover {
	outline: 0;
}

.woocommerce .woocommerce-LoopProduct-link {
	display: block;
}


/* WooCommerce Product Gallery
---------------------------------------------------------------------------- */

.woocommerce .woocommerce-product-gallery__wrapper {
	margin: 0;
}

.woocommerce .woocommerce-product-gallery__trigger {
	border-width: 0;
}

.woocommerce .woocommerce-product-gallery {
	overflow: hidden;
}

.woocommerce .woocommerce-product-gallery .flex-control-nav {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* WooCommerce Shop Page
---------------------------------------------------------------------------- */

.woocommerce .content .entry {
	border-bottom: 0;
}

.woocommerce a.added_to_cart {
	line-height: 1;
}

.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after,
.woocommerce #respond input#submit.loading::after {
	top: 1em;
}

.woocommerce ul.products li.product .button,
.woocommerce .woocommerce-ordering,
.woocommerce-page ul.products li.product .button,
.woocommerce-page .woocommerce-ordering {
	margin-right: 0;
	width: 100%;
}

.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .price .from {
	color: #000;
}

.woocommerce ul.products li.product h3:hover,
.woocommerce ul.products li.product .price {
	color: #0073e5;
}

/* MS Edge Bug Fix */
.woocommerce ul.products li.product a {
	transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
}

.woocommerce nav.woocommerce-pagination {
	clear: both;
	margin: 40px 0;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
	border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
	margin-left: 2px;
	margin-right: 2px;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
	background-color: #f5f5f5;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.625;
	padding: 8px 12px;
	text-decoration: none;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	background-color: #333;
	color: #fff;
}


/* WooCommerce Product
---------------------------------------------------------------------------- */

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #0073e5;
	line-height: 1.5;
}

.woocommerce div.product form.cart .button {
	line-height: 1.5;
}

.woocommerce div.product form.cart .variations {
	table-layout: fixed;
}

.woocommerce .woocommerce-variation-price {
	margin-bottom: 20px;
}


/* WooCommerce Product Tabs
---------------------------------------------------------------------------- */

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-color: #eee;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	display: block;
	margin: 0;
	padding: 0;
	border-radius: 0;
	border: 1px solid #eee;
	background-color: #fff;
	border-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child {
	border-bottom: 1px solid #eee;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	border-bottom-color: #eee;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	display: block;
	padding: 0.5em 1em;
	color: #000;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
	color: #0073e5;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a::after {
	content: "\f147";
	display: block;
	float: right;
	font-family: dashicons; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
}


/* WooCommerce Checkout
---------------------------------------------------------------------------- */

.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li,
#add_payment_method #payment ul.payment_methods li {
	list-style-type: none;
}

.woocommerce-cart table.cart td.actions .coupon input.input-text,
.woocommerce-checkout table.cart td.actions .coupon input.input-text,
#add_payment_method table.cart td.actions .coupon input.input-text {
	width: auto;
}

.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row,
#add_payment_method #payment div.form-row {
	margin-bottom: 0;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	margin-bottom: 10px;
}


/* WooCommerce Cart Page
---------------------------------------------------------------------------- */

.woocommerce table.shop_table,
.woocommerce table.shop_table td {
	border-color: #eee;
	border-radius: 0;
	line-height: 1.75;
	word-break: normal;
}

.woocommerce-cart table.cart {
	line-height: 1.75;
}

.woocommerce-cart table.cart td {
	font-size: 18px;
	padding: 10px 12px;
}

.woocommerce table.shop_table .order-number {
	min-width: 75px;
}

.woocommerce-cart table.cart .product-thumbnail {
	min-width: 56px;
}

.woocommerce-cart table.cart th.product-name {
	min-width: 140px;
}

.woocommerce-cart table.cart th.product-price,
.woocommerce-cart table.cart th.product-quantity,
.woocommerce-cart table.cart th.product-subtotal,
.woocommerce-checkout-review-order-table th.product-total {
	min-width: 110px;
}

.woocommerce table.shop_table td.actions {
	padding-top: 15px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	font-size: 18px;
}

.woocommerce-cart td.product-name dl.variation dd {
	margin-left: 20px;
}

.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img,
#add_payment_method table.cart img {
	vertical-align: middle;
}


/* WooCommerce Payment
---------------------------------------------------------------------------- */

.woocommerce-cart #payment,
.woocommerce-checkout #payment,
#add_payment_method #payment {
	background-color: #f5f5f5;
	border-radius: 0;
	padding: 30px;
}

.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box,
#add_payment_method #payment div.payment_box {
	background-color: #eee;
}

.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before,
#add_payment_method #payment div.payment_box::before {
	display: none;
}

.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods,
#add_payment_method #payment ul.payment_methods {
	border-color: #eee;
}


/* WooCommerce Forms
---------------------------------------------------------------------------- */

.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce input.button[type="submit"],
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt {
	background-color: #333;
	border: 0;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	width: auto;
}

.woocommerce a.button:focus,
.woocommerce a.button:hover,
.woocommerce a.button.alt:focus,
.woocommerce a.button.alt:hover,
.woocommerce button.button:focus,
.woocommerce button.button:hover,
.woocommerce button.button.alt:focus,
.woocommerce button.button.alt:hover,
.woocommerce input.button:focus,
.woocommerce input.button:hover,
.woocommerce input.button.alt:focus,
.woocommerce input.button.alt:hover,
.woocommerce input[type="submit"]:focus,
.woocommerce input[type="submit"]:hover,
.woocommerce #respond input#submit:focus,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit.alt:focus,
.woocommerce #respond input#submit.alt:hover {
	background-color: #0073e5;
	color: #fff;
}

.woocommerce #reviews #comment {
	height: 150px;
}

.woocommerce .quantity .qty {
	font-size: 20px;
	line-height: 1.5;
	margin-right: 5px;
	padding: 12px 5px;
	width: 70px;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
	line-height: 1.5;
	padding: 8px 20px;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce #reviews #comments .star-rating,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
	float: none;
	width: 100%;
}

.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text,
#add_payment_method table.cart td.actions .coupon .input-text {
	border-color: #eee;
	padding: 5px 20px;
	width: 150px;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register,
.woocommerce form .form-row .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select,
.woocommerce form .form-row.woocommerce-validated .select2-container {
	border-color: #eee;
	border-radius: 0;
}

.woocommerce-cart table.cart input,
.woocommerce-checkout table.cart input,
#add_payment_method table.cart input {
	vertical-align: top;
}

.woocommerce .coupon {
	line-height: 1;
}

.woocommerce .coupon .input-text {
	height: 48px;
}

.woocommerce input.button,
.woocommerce input.button[type="submit"],
.woocommerce-cart table.cart td.actions .coupon .input-text {
	width: 100% !important;
}


/* WooCommerce Disabled Buttons
---------------------------------------------------------------------------- */

.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled] {
	background-color: #000;
	color: #fff;
	padding: 16px 24px;
}

.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt[disabled]:disabled,
.woocommerce a.button.alt[disabled]:disabled:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt[disabled]:disabled,
.woocommerce button.button.alt[disabled]:disabled:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt[disabled]:disabled,
.woocommerce input.button.alt[disabled]:disabled:hover,
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt[disabled]:disabled,
.woocommerce #respond input#submit.alt[disabled]:disabled:hover {
	background-color: #eee;
	color: #000;
}


/* WooCommerce Account Page
---------------------------------------------------------------------------- */

.woocommerce-account .woocommerce-Address-title h3 {
	font-size: 26px;
}

.woocommerce-account .woocommerce-Address {
	margin-bottom: 20px;
}

.woocommerce-account table.order_details th.product-total {
	min-width: 110px;
}

.woocommerce-MyAccount-navigation {
	border: 1px solid #eee;
	padding: 20px;
	margin-bottom: 40px;
}

.woocommerce-MyAccount-navigation ul {
	margin-bottom: 0;
	margin-left: 0;
}

.woocommerce-MyAccount-navigation ul li {
	line-height: 1.2;
	list-style-type: none;
	margin-bottom: 15px;
}

.woocommerce-MyAccount-navigation ul li:last-child {
	margin-bottom: 0;
}

.woocommerce-MyAccount-navigation ul li.is-active > a {
	color: #333;
	font-weight: 700;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
	text-align: center;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	display: inline-block;
	margin: 0 10px;
}

.woocommerce-account .woocommerce-MyAccount-content,
.woocommerce-account .woocommerce-MyAccount-navigation {
	margin-right: 0;
	width: 100%;
}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-navigation ul,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-navigation ul {
	text-align: center;
}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-navigation li,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-navigation li {
	display: inline-block;
	margin: 0 10px;
}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-content,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-content {
	width: 100%;
}

.woocommerce table.my_account_orders .button {
	margin: 5px;
}


/* WooCommerce Breadcrumb
---------------------------------------------------------------------------- */

.woocommerce .woocommerce-breadcrumb {
	font-size: 18px;
	margin-bottom: 40px;
}

.woocommerce .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb a {
	color: #000;
}

.woocommerce .woocommerce-breadcrumb a {
	text-decoration: none;
}

.woocommerce .woocommerce-breadcrumb a:focus,
.woocommerce .woocommerce-breadcrumb a:hover {
	color: #0073e5;
}


/* WooCommerce Reviews
---------------------------------------------------------------------------- */

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	background: transparent;
	border: 0;
	margin: 0 16px 24px 0;
	padding: 0;
	position: relative;
	width: 60px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	border-color: #eee;
	border-radius: 0;
	margin-left: 80px;
}

.woocommerce .entry-content #reviews ol > li {
	list-style-type: none;
}


/* WooCommerce Misc
---------------------------------------------------------------------------- */

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	background-color: #f5f5f5;
	border-top-color: #0073e5;
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
	color: #0073e5;
}

div.woocommerce-info.wc-memberships-restriction-message.wc-memberships-restricted-content-message {
	width: 48%;
}

.woocommerce-message .button.wc-forward {
	margin-bottom: 20px;
	width: 100%;
}


/* WooCommerce Widgets
---------------------------------------------------------------------------- */

/* Woo Search
-------------------------------------------------- */

.woocommerce-product-search {
	overflow: hidden;
	width: 100%;
}

.woocommerce-product-search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Woo Shopping Cart
-------------------------------------------------- */

.woocommerce .widget_shopping_cart ul.cart_list li,
.woocommerce.widget_shopping_cart ul.cart_list li {
	padding-top: 15px;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	top: 15px;
}

.woocommerce.widget_shopping_cart .total {
	border-top: 1px solid #eee;
}

.woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a {
	margin-bottom: 5px;
}

.woocommerce .widget_shopping_cart .cart_list li.empty,
.woocommerce.widget_shopping_cart .cart_list li.empty {
	padding-left: 0;
}

/* Woo Product Lists
-------------------------------------------------- */

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	width: 60px;
}

.sidebar ul.product_list_widget li {
	line-height: 1.4;
	margin-bottom: 15px;
	padding: 15px 0 0;
}

.sidebar ul.product_list_widget li:last-child {
	margin-bottom: 0;
	padding-bottom: 15px;
}

/* Woo Filter
-------------------------------------------------- */

.woocommerce.widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #eee;
}

.woocommerce.widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce.widget_price_filter .ui-slider .ui-slider-range {
	background-color: #0073e5;
}

.woocommerce .widget_layered_nav ul li.chosen a::before,
.woocommerce .widget_layered_nav_filters ul li a::before,
.woocommerce .widget_rating_filter ul li.chosen a::before {
	color: #0073e5;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce.widget_price_filter .ui-slider .ui-slider-handle {
	top: -0.28em;
}

.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce.widget_price_filter .price_slider_amount .button {
	font-size: 16px;
}

/* Woo Active Filters
--------------------------------------------- */

.woocommerce.widget_layered_nav_filters ul li {
	margin: 0 20px 20px 0;
}

/* Woo Recent Reviews
-------------------------------------------------- */

.woocommerce.widget_recent_reviews .reviewer {
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* Header left menu style
/*------------------------------------------------*/
#genesis-nav-primary ul li.mobile-view {
    display: none;
}

/* Header right menu style
/*------------------------------------------------*/
.nav-secondary #menu-headermenu-2 li.menu-item-566 {
    padding: 0;
}
.nav-secondary #menu-headermenu-2 li.menu-item-566 a {
    padding: 6px 12px;
}
.nav-secondary #menu-headermenu-2 li {
    margin-left: 60px;
}
.nav-secondary #menu-headermenu-2 li:first-child {
    margin-left: 0;
}
.nav-secondary #menu-headermenu-2 li a{
    margin: 0;
    color: #000;
}
.nav-secondary #menu-headermenu-2 li.cart-icon a{
    font-size: 22px;
}

.footer-widgets li.mobile-view {
    display: none;
}


/* shop page custom style
/*------------------------------------------------*/
.woocommerce ul.products{
    margin-left: -40px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}
.woocommerce ul.products li.product{
    text-align: center;
    width: calc(100% / 4 - 40px);
    margin: 0 0 40px 40px!important;
    float: none;
}

.woocommerce ul.products li.product .thumb-wrapper{
    position: relative;
    margin-bottom: 10px;
}
.woocommerce ul.products li.product .thumb-wrapper .button,
.woocommerce ul.products li.product .thumb-wrapper .add_to_cart_button{
    position: absolute;
    margin-top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ec1c24;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.woocommerce ul.products li.product:hover .thumb-wrapper .button,
.woocommerce ul.products li.product:hover .thumb-wrapper .add_to_cart_button{
    visibility: visible;
    opacity: 1;
}
.woocommerce ul.products li.product:hover .thumb-wrapper .add_to_cart_button.added {
    visibility: hidden;
    opacity: 0;
}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.added {
	visibility: hidden;
    opacity: 0;
}
a.added_to_cart.wc-forward {
    position: absolute;
    margin-top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ec1c24;
    text-transform: uppercase;
	border: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
	font-family: cooper_hewittsemibold;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px;
    text-align: center;
    white-space: normal;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
    text-transform: uppercase;
}
.woocommerce ul.products li.product .price{
    color: #333;
    font-family: cooper_hewittsemibold;
}
.woocommerce ul.products li.product .price del{
    display: none;
}

.woocommerce .woocommerce-cate-title{
    text-transform: uppercase;
    font-family: cooper_hewittsemibold;
    margin-bottom: 15px;
}
.woocommerce .woocommerce-category_title{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: -80px;
    margin-bottom: 60px;
}
.woocommerce .woocommerce-category_title li{
    padding: 5px 20px;
    display: block;
    border: 1px solid #ec1c24;
    margin-left: 80px;
    text-transform: uppercase;
    color: #333;
    cursor: pointer;
    border-radius: 3px 3px 0 0;
    transition: all 0.3s ease;
}
.woocommerce .woocommerce-category_title li:hover{
    background: #ec1c24;
    color: #fff;
}
.woocommerce .woocommerce-category_title li.active{
    font-family: cooper_hewittsemibold;
    color: #fff;
    background: #ec1c24;
}

/*--------single categories product-------*/
.woocommerce .single-categorie-product {
    margin-bottom: 25px;
}
.woocommerce .single-categorie-product > h2{
    text-transform: uppercase;
    color: #000;
    margin-bottom: 15px;
}


/* product single page custom style
---------------------------------------------------------------------------- */
.woocommerce.full-width-content .content,
.woocommerce-page.full-width-content .content {
    max-width: 100%;
}
.woocommerce.single .content{
    padding-top: 30px;
}
.woocommerce.single .entry.product {
    padding: 20px 0 0 0;
}

/*--------product single carousel---------*/
.woocommerce div.product .woocommerce-product-gallery{
    background: #ededed;
    padding-bottom: 15px;
}
.woocommerce div.product .woocommerce-product-gallery .flex-control-nav li img{
    border: 1px solid #ec1c24;
    transition: all 0.3s ease;
}
.woocommerce div.product .woocommerce-product-gallery .flex-control-thumbs {
    margin: 0 auto!important;
    max-width: 450px;
}

/*-------next prev arrow------*/
.woocommerce div.product div.images .flex-control-thumbs{
    position: relative;
    padding-top: 40px;
}
.woocommerce div.product div.images .flex-control-thumbs .slick-slide {
    padding: 0 15px;
}
.woocommerce div.product div.images .flex-control-thumbs .slick-arrow {
    background: none;
    padding: 0;
    color: #000;
    font-size: 22px;
    position: absolute;
    top: 0px;
    right: 50%;
    transform: translateX(50%);
}
.woocommerce div.product div.images .flex-control-thumbs .slick-arrow:hover{
    color: #ec1c24;
}
.woocommerce div.product div.images .flex-control-thumbs .slick-arrow.PrevArrow {
    right: calc(50% + 30px);
}
.woocommerce div.product div.images .flex-control-thumbs .slick-arrow.NextArrow {
    right: calc(50% - 30px);
}


/*---breadcrumb---*/
.woocommerce.single-product .site-main > .woocommerce-breadcrumb{
    display: none;
}
.woocommerce.single-product .site-main .product .woocommerce-breadcrumb{
    clear: both;
    margin-top: 0;
}
.woocommerce .woocommerce-breadcrumb {
    color: #ec1c24;
    margin-top: 20px;
}
.woocommerce .woocommerce-breadcrumb span {
    color: #000;
    margin: 0 2px;
}
.woocommerce .woocommerce-breadcrumb a:focus,
.woocommerce .woocommerce-breadcrumb a:hover{
    color: #ec1c24;
}

/*--product summary--*/
.woocommerce div.product div.summary,
.woocommerce-page div.product div.summary {
    width: 50%;
    text-align: center;
    padding-top: 50px;
}
.woocommerce.single .summary .product_title{
    margin-bottom: 30px;
}
.woocommerce.single .summary > p.price{
    font-size: 25px;
    color: #333;
    font-family: 'cooper_hewittsemibold';
}

.woocommerce.single .product-type-variable .summary > p.price{
    display: none;
}
.woocommerce.single .summary .woocommerce-product-details__short-description{
    max-width: 740px;
    margin: 0 auto 40px;
}

/*--------cart form---------*/
.woocommerce div.product form.cart .variations {
    max-width: 450px;
    margin: 0 auto 50px;
}
.woocommerce div.product form.cart .variations tbody {
    border: none;
}
.woocommerce div.product form.cart .variations td.label {
    text-transform: uppercase;
    font-family: 'cooper_hewittsemibold';
    font-size: 22px;
}
.woocommerce div.product form.cart .variations select {
    min-width: inherit;
    margin-right: 0;
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid #000;
    max-width: 120px;
    margin-bottom: 40px;
}
.woocommerce div.product form.cart .variations td .tawcvs-swatches .swatch {
    border-radius: 2px;
    margin-right: 5px;
    opacity: 1;
    border: 1px solid transparent;
    box-shadow: none
}
.woocommerce div.product form.cart .variations td .tawcvs-swatches .swatch-white {
    border-color: #000;
}
.woocommerce div.product form.cart .variations td .tawcvs-swatches .swatch.selected{
    box-shadow: none;
}
.woocommerce div.product form.cart .variations td .tawcvs-swatches .swatch-color.selected:before {
    width: 8px;
    height: 14px;
    border: solid #fff;
    top: 6px;
    left: 10px;
    border-top: none;
    border-left: none;
}
.woocommerce div.product form.cart .variations td .tawcvs-swatches .swatch-white.selected:before {
    border-color: #000;
}
.woocommerce div.product form.cart .reset_variations {
    display: none!important;
}
.woocommerce div.product .woocommerce-variation-price {
    margin-bottom: 50px;
}
.woocommerce div.product .woocommerce-variation-price span.price{
    font-size: 25px;
    color: #333;
    font-family: 'cooper_hewittsemibold';
}
.woocommerce div.product form.cart .group_table td {
    vertical-align: middle;
}

/*------product quantity---------*/
.woocommerce .quantity {
    margin: 0;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    border: 1px solid #000;
    width: 110px;
    border-radius: 3px;
    float: none;
}
.woocommerce div.product form.cart div.quantity {
    float: none;
    margin: 0;
}
.woocommerce .quantity .qty{
    line-height: normal;
    margin-right: 0;
    padding: 0;
    width: 50px;
    border: none;
    height: 50px;
    font-family: 'cooper_hewittsemibold';
}

.woocommerce .quantity .product__increse,
.woocommerce .quantity .product__decrese{
    display: block;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
}
.woocommerce .quantity .product__decrese{
    padding-left: 15px;
}
.woocommerce .quantity .product__increse{
    padding-right: 15px;
}

.woocommerce div.product form.cart .button{
    text-transform: uppercase;
    height: 53px;
    letter-spacing: 1px;
    border-radius: 3px;
    padding: 16px 20px;
    margin-left: 15px;
    background: #ec1c24;
    vertical-align: unset;
    float: none;
    display: inline-block;
}
.woocommerce div.product form.cart .button:hover{
    background: #333!important;
}
.woocommerce div.product form.cart .button i{
    font-size: 20px;
    margin-right: 10px;
}

/*--back to shop----*/
.woocommerce div.product .summary .back-to-shop{
    text-transform: uppercase;
}
.woocommerce div.product .summary .back-to-shop:hover{
    color: #ec1c24;
}
.woocommerce div.product .summary .back-to-shop i{
    margin-right: 10px;
}

/*---bottom add to cart butoon----*/
.woocommerce div.product .bottom-add-to-cart {
    text-align: center;
}
.woocommerce div.product .bottom-add-to-cart form.cart {
    margin-top: 80px;
    margin-bottom: 60px;
}
.woocommerce div.product .bottom-add-to-cart .woocommerce-grouped-product-list,
.woocommerce div.product .bottom-add-to-cart .quantity,
.woocommerce div.product .bottom-add-to-cart .single_variation,
.woocommerce div.product .bottom-add-to-cart .variations{
    display: none!important;
}
.woocommerce div.product #additional-add-to-cart button.button{
    width: 100%;
    max-width: 500px;
    font-size: 25px;
    height: auto;
    margin: 0;
    padding: 15px 20px 11px;
}


/* Woocommerce cart page
---------------------------------------------------------------------------- */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    border-top-color: #ec1c24;
}
.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    color: #ec1c24;
}
.woocommerce-cart .woocommerce {
	position: relative;
}
.woocommerce-cart .woocommerce > p.return-to-shop {
    position: absolute;
    top: 12px;
    right: 19px;
}
.woocommerce-cart p.cart-empty.woocommerce-info {
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
}
.woocommerce-cart .woocommerce-cart-form{
    margin-top: 100px;
}
.woocommerce-cart .woocommerce-cart-form .cart-title{
    text-align: center;
    text-transform: uppercase;
}
.woocommerce .cart-collaterals .cross-sells ul.products li,
.woocommerce-page .cart-collaterals .cross-sells ul.products li {
    width: calc(100% / 2 - 40px);
    margin: 0 0 40px 40px !important;
}
.woocommerce-cart .product-remove a.remove {
    font-size: 17px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    color: #ec1c24;
    background: #f8d7da;
}
.woocommerce-cart .product-remove a.remove:hover {
    background: #ec1c24;
    color: #fff;
}


/* Woocommerce my account page
---------------------------------------------------------------------------- */
.woocommerce-account .woocommerce {
    border: 1px solid #eee;
    margin: 50px 0 100px;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    border: none;
    border-bottom: 1px solid #eee;
}
.woocommerce-account .woocommerce-MyAccount-navigation li a {
    text-transform: capitalize;
    font-family: 'cooper_hewittsemibold';
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
    color: #ec1c24;
}
.woocommerce-account .woocommerce-MyAccount-content {
    padding: 10px 40px 50px;
}

/*---woocommerce address---*/
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address {
    background: #eee;
    padding: 20px;
    margin-bottom: 0;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address .title h3 {
    text-transform: capitalize;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address .title .edit {
    background: #ec1c24;
    padding: 3px 16px;
    border-radius: 3px;
    color: #fff;
    font-family: 'cooper_hewittsemibold';
}
.woocommerce-account .woocommerce-MyAccount-content .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: auto;
    padding: 8px 20px;
    margin: 0;
    min-height: 48px;
}
.woocommerce-account .woocommerce-MyAccount-content .select2-container--default .select2-selection--single:focus {
    border-color: #999;
    box-shadow: none;
    outline: inherit;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-EditAccountForm button.button,
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-address-fields button.button {
    margin-top: 30px;
    text-transform: capitalize;
}
.woocommerce-account .woocommerce-MyAccount-content form h3{
    text-transform: capitalize;
}


/*--------woocommerce login---------*/
.woocommerce-notices-wrapper > ul{
    padding: 1em 2em 1em 3.5em;
}
.woocommerce-account .woocommerce > h2 {
    text-align: center;
    margin-top: 40px;
}
.woocommerce-account .woocommerce-form-login.login {
    max-width: 450px;
    margin: 0 auto 50px;
}
.woocommerce-account .woocommerce-form-login.login .woocommerce-form-login__rememberme {
    text-transform: capitalize;
    line-height: normal;
    margin-top: 12px;
}
.woocommerce-account .woocommerce-form-login.login .lost_password a:hover {
    color: #ec1c24;
    text-decoration: underline;
}


/*---------woocommerce-order-received---------*/
.woocommerce-order-received .woocommerce-order {
    margin-top: 70px;
}
.woocommerce-order-received .woocommerce-order .woocommerce-thankyou-order-received {
    margin-bottom: 10px;
}
.woocommerce-order-received .woocommerce-order ul.order_details {
    margin: 0 0 30px;
    background: #eee;
    padding: 27px 26px 21px;
}

.woocommerce-order-received .woocommerce-order .woocommerce-customer-details,
.woocommerce-order-received .woocommerce-order .woocommerce-order-details {
    background: #eee;
    padding: 20px 30px 30px;
    border-radius: 3px
}
.woocommerce-order-details__title {
    text-transform: capitalize;
}
.woocommerce-order-received .woocommerce-order table {
    border: 1px solid rgba(0,0,0,.1);
    background: #eee;
}
.woocommerce-order-received .woocommerce-order table thead tr th {
    text-transform: capitalize;
    font-family: 'cooper_hewittsemibold';
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.woocommerce-view-order .woocommerce-order-details table thead tr th,
.woocommerce-view-order .woocommerce-order-details table tfoot tr td,
.woocommerce-view-order .woocommerce-order-details table tfoot tr th,
.woocommerce-order-received .woocommerce-order table tfoot tr td,
.woocommerce-order-received .woocommerce-order table tfoot tr th {
    text-transform: capitalize;
    font-family: 'cooper_hewittsemibold';
}

.woocommerce-customer-details .woocommerce-column__title{
    text-transform: capitalize;
}
.woocommerce-view-order .woocommerce-customer-details address,
.woocommerce-order-received .woocommerce-order .woocommerce-customer-details address{
    padding: 15px 22px;
    border-width: 1px;
}

/*-------------woocommerce-orders-----------*/
.woocommerce-orders .woocommerce-orders-table thead tr th{
    padding: 15px 20px;
    text-transform: capitalize;
    font-family: 'cooper_hewittsemibold';
}
.woocommerce-orders .woocommerce-orders-table tbody .woocommerce-orders-table__cell-order-total span{
    vertical-align: bottom;
}


/* Media Queries
---------------------------------------------------------------------------- */
@media only screen and (min-width: 600px) {

	.woocommerce form .form-row-first,
	.woocommerce-page form .form-row-first,
	.woocommerce #reviews #comments .star-rating {
		float: left;
		width: 47%;
	}

	.woocommerce form .form-row-last,
	.woocommerce-page form .form-row-last {
		float: right;
		width: 47%;
	}

	.woocommerce ul.products li.product .button,
	.woocommerce .woocommerce-ordering,
	.woocommerce-page ul.products li.product .button,
	.woocommerce-page .woocommerce-ordering {
		margin-right: auto;
		width: auto;
	}

	.woocommerce input.button,
	.woocommerce input.button[type="submit"],
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		width: auto !important;
	}

	.woocommerce-message .button.wc-forward {
		margin-bottom: 0;
		width: auto;
	}

	.woocommerce-cart table.cart td.actions .coupon .input-text {
		margin-bottom: 0;
	}

}

@media only screen and (min-width: 960px) {

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0 0 0 1em;
	}

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li {
		background-color: #f5f5f5;
		display: inline-block;
		margin: 0 -5px;
	}

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		background-color: #fff;
		border-bottom: 1px solid #fff;
	}

	.full-width-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active a::after {
		display: none;
	}

}

@media only screen and (min-width: 1140px) {

	.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0 0 0 1em;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		background-color: #f5f5f5;
		display: inline-block;
		margin: 0 -5px;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
		background-color: #fff;
		border-bottom: 1px solid #fff;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li.active a::after {
		display: none;
	}

}


@media (max-width: 1399px) {
    .woocommerce ul.products li.product {
        width: calc(100% / 3 - 40px);
    }
    
    /*--header right menu---*/
    .nav-secondary #menu-headermenu-2 li {
        margin-left: 22px;
    }
    .nav-secondary ul.menu {
    	padding-right: 65px;
	}
    
    /*-----product single page-------*/
    .woocommerce div.product form.cart .variations select {
        margin-bottom: 0;
    }
    .woocommerce div.product form.cart .variations {
        margin: 0 auto 30px;
    }
    
}

@media (max-width: 1199px) {
    .woocommerce ul.products{
        margin-left: -30px;
    }
    .woocommerce ul.products li.product{
        width: calc(100% / 3 - 30px)!important;
        margin: 0 0 30px 30px!important;
    }
    
    /*--header right menu---*/
    .nav-secondary #menu-headermenu-2 li {
        margin-left: 18px;
    }
    
    /*-------product single page------*/
    .woocommerce div.product div.summary,
    .woocommerce-page div.product div.summary {
        padding-top: 10px;
    }
    
    /*-----woocommerce cart page--------*/
    .woocommerce-cart .woocommerce-cart-form {
        margin-top: 50px;
    }
    .woocommerce .cart-collaterals .cross-sells ul.products li,
    .woocommerce-page .cart-collaterals .cross-sells ul.products li {
        width: calc(100% / 2 - 30px)!important;
        margin: 0 0 30px 30px !important;
    }
    
}

@media (max-width: 1048px) {
    .site-header {
        padding: 20px 0 15px;
        position: relative;
    }
    .custom-logo-link {
        top: 22px;
        left: 0;
    }
    .site-header .nav-primary {
        width: 100%;
        float: none;
        margin-right: 0;
    }
    .menu-toggle, .sub-menu-toggle {
        display: block;
        visibility: visible;
    }
    .genesis-responsive-menu {
        display: none;
        position: relative;
    }
    #genesis-nav-primary ul li {
        display: block;
    }
    #genesis-nav-primary ul li.mobile-view {
        display: block;
    }
    .aktiv .menu-toggle,
    .menu-toggle {
        padding: 13px 13px 10px 17px;
        border: 1px solid #ec1c24;
    }
    .probetraining {
        box-shadow: none !important;
    }
    .cart-contents {
    	display: none;
    }
}

@media (max-width: 991px) {
    .woocommerce ul.products li.product{
        width: calc(100% / 2 - 30px)!important;
    }
    
    /*----product single page-------*/
    .woocommerce div.product div.summary,
    .woocommerce-page div.product div.summary {
        padding-top: 0;
        width: 100%;
    }
    
    /*------woocommerce cart page---------*/
    .woocommerce .cart-collaterals,
    .woocommerce-page .cart-collaterals {
        display: flex;
        flex-flow: column-reverse;
    }
    
    /*--------woocommerce-order-received------*/
    .woocommerce-order-received .woocommerce-order ul.order_details li {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .woocommerce .site-inner {
        max-width: 540px !important;
    }
    .woocommerce .woocommerce-category_title {
        margin-left: -20px;
        margin-bottom: 60px;
    }
    .woocommerce .woocommerce-category_title li {
        margin-left: 20px;
    }

    .woocommerce-cart .woocommerce > p.return-to-shop {
	    margin-bottom: 50px!important;
	    position: relative;
	    top: inherit;
	    right: inherit;
	}
}

@media (max-width: 740px){
    .site-header {
        padding: 20px 15px 15px;
    }
    .custom-logo-link {
        left: 15px;
    }

    .probetraining span {
        display: inline-block;
        line-height: 23px;
    }
}

@media (max-width: 575px) {
    .woocommerce .site-inner {
        max-width: 100% !important;
        padding: 0 15px;
    }
    
    .woocommerce .woocommerce-category_title {
        margin-left: 0;
        display: block;
    }
    .woocommerce .woocommerce-category_title li {
        margin-left: 0;
        margin-bottom: 15px;
    }
    
    .woocommerce ul.products{
        margin-left: 0px;
    }
    .woocommerce ul.products li.product {
        width: calc(100% / 1 - 0px)!important;
        margin-left: 0!important;
    }
    
    /*------product single page----------*/
    .woocommerce div.product div.images .flex-control-thumbs .slick-slide {
        padding: 0 5px;
    }
    .woocommerce div.product form.cart .button {
        display: block;
        margin: 14px auto 0;
    }
    
    /*------woocommerce cart page---------*/
    .woocommerce .woocommerce-cart-form .coupon button,
    .woocommerce-page .woocommerce-cart-form .coupon button {
        width: 100%!important;
        float: none!important;
    }
    .woocommerce .cart-collaterals .cross-sells ul.products li,
    .woocommerce-page .cart-collaterals .cross-sells ul.products li {
        width: calc(100% / 1 - 0px)!important;
        margin: 0 0 30px 0px !important;
    }
    
    
    /*---my account navigation----*/
    .woocommerce-account .woocommerce-MyAccount-content {
        padding: 10px 20px 20px;
    }
    .woocommerce-account .woocommerce-MyAccount-navigation ul {
        text-align: left;
        padding-left: 0;
    }
    .woocommerce-account .woocommerce-MyAccount-navigation ul li {
        display: block;
        margin: 0;
        margin-bottom: 10px;
    }
    .woocommerce-account .woocommerce-MyAccount-navigation ul li:last-child {
        margin-bottom: 0;
    }
    
    /*-----woocommerce-order-received----------*/
    .woocommerce-order-received .woocommerce-order .woocommerce-customer-details,
    .woocommerce-order-received .woocommerce-order .woocommerce-order-details {
        padding: 15px 15px 15px;
    }
    
    
}










